[submodule "lib/pimoroni-pico"]
	path = lib/pimoroni-pico
	url = https://github.com/pimoroni/pimoroni-pico.git
[submodule "veml7700-pico-library"]
	path = veml7700-pico-library
	url = https://github.com/JonaszPocwiardowski/veml7700-pico-library.git
