version: '3.8'

services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces:cached
    working_dir: /workspaces
    command: sleep infinity
    environment:
      - CMAKE_GENERATOR=Ninja
      - CMAKE_BUILD_TYPE=Release